@charset "utf-8";

/*Common*/
body {
  font-family: 'Montserrat', 'NanumSquare', 'Noto Sans KR', '맑은 고딕', 'Apple SD Gothic', 'Dotum', sans-serif;
  font-size: 16px;
}
section {min-height: 100vh;padding-top:100px;}
section h2 {margin-bottom: 26px;text-align: center;font-size: 50px;font-weight: 600; color: #000; }
section h3 {font-size: 24px; font-weight: 600;}
button {cursor: pointer;line-height: 1;background: transparent;border: none;}
.clrfix {content:""; display: block; clear: both;}
.blind {display: block;width: 0;height: 0;overflow: hidden;}
.container {width: 80%;margin: auto;}

/*Header*/
header {padding: 30px 5%;position: fixed;left: 0;right: 0;top: 0;z-index: 9999;transition: all 0.3s}
header h1 {width: 160px;height: 50px;float: left;background: url(../../img/logo_w.png) no-repeat;background-size: contain !important;cursor: pointer;transition: all 0.3s}
header #gnb {float: right;}
header #gnb li {float: left;margin-right: 40px;color: #FFF;font-size: 20px;font-weight: 600;line-height: 30px;cursor: pointer;user-select: none;transition: all 0.3s}
/*홈이 아닌 다른 페이지일 때 헤더의 스타일 변경*/
header.bg_on {background: #FFF;padding: 20px 5%;border-bottom: 1px solid #999;transition: all 0.3s}
header.bg_on h1 {width: 120px;height: 38px;background: url(../../img/logo.png) no-repeat;transition: all 0.3s}
header.bg_on #gnb li {color: #000;font-size: 18px;line-height: 25px;transition: all 0.3s}

/*Home*/
#home {height: 100vh; padding-top:0; background: url(../../img/bg.jpg) center;background-size: cover;}
#home .home_bg {height:100%;position: relative;background: rgba(0,0,0,0.5);color: #FFF;text-align: center;}
#home .home_txt {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -80%)}
#home .home_txt h2 {color:#fff; font-size: 50px;font-weight: 600;margin-bottom: 20px;}

/* butterfly 시작 */
#home span.scroll {
	position: absolute;left: 50%;bottom: 100px;transform: translateX(-50%);
	width: 26px;
	height: 26px;
	margin-left: -12px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	-webkit-animation: butterfly 1.5s infinite;
	animation: butterfly 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes butterfly {
	0% {
			-webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
			opacity: 0;
	}
	50% {
			opacity: 1;
	}
	100% {
			-webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
			opacity: 0;
	}
}
@keyframes butterfly {
	0% {
			transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
			opacity: 0;
	}
	50% {
			opacity: 1;
	}
	100% {
			transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
			opacity: 0;
	}
}
/* butterfly 끝 */

/*About Me*/
#about {}
#about h2 {color: #000;}

/* accordion 시작 */
.accordion {
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding-top: 50px;
  /* margin: 0px auto; */
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 20%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease-in-out;
}

.accordion ul li div.sliderLink {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div.sliderLink {
  display: block;
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 120px 80px;
  box-sizing: border-box;
  color: #fff;
  /* text-shadow: 1px 1px 2px #000; */
  /*filter: invert(100%);*/
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 300ms ease-in-out;
}

.accordion ul li div.sliderLink * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.accordion ul li div.sliderLink span {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 28px;
	font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  top: 10px;
}

.accordion ul li div.sliderLink p {
  top: 30px;
  font-size: 18px;
	margin-bottom: 10px;
	line-height: 1.5;
}

.accordion ul li div.sliderLink .goal {
  font-size: 18px;
  margin-top: 20px;
	color: rgb(206, 140, 134);
	font-style: italic;
}

.accordion ul li:nth-child(1) { 
  background-image: url("../../img/about_bg_1.png"); 
  background-position: 80% 100%;
}

.accordion ul li:nth-child(2) { 
  background-image: url("../../img/about_bg_2.png"); 
 background-position: 80% 100%;
}

.accordion ul li:nth-child(3) { 
  background-image: url("../../img/about_bg_3.png"); 
background-position: 80% 100%;
}

.accordion ul li:nth-child(4) { 
  background-image: url("../../img/about_bg_4.png"); 
  background-position: 80% 100%;
}

.accordion ul li:nth-child(5) { 
  background-image: url("../../img/about_bg_5.png"); 
  background-position:80% 100%;
}

.accordion ul li { background-size: cover; }
.accordion ul:hover li { width: 20%; }
.accordion ul:hover li:hover { width: 70%; }

.accordion ul:hover li:hover div.sliderLink { background: rgba(26, 34, 39, 0.7); }

.accordion ul:hover li:hover div.sliderLink * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* accordion 끝 */

#about {}
#about .wrapper {display: none;}

#skill {background:#1A2227;}
#skill h2 {color: #fff;}

	/* caption hover effects 시작 */
.captionImgList {
	width: 100%; overflow: hidden;
}
.captionImgList li {
  float: left;
  display: block;
  position: relative;
  height: 250px;
  width: calc(33.33333% - 10px);
  margin-right: 15px;
	margin-bottom: 45px;
  overflow: hidden;
	cursor: pointer;
	background: rgba(255,255,255,0.3);
}
.captionImgList li:last-child {
  float: left;
  width: 100%;
  overflow: hidden;
	cursor: pointer;
	background: rgba(255,255,255,0.3);
}
.captionImgList li .material-icons.md-48 {
  font-size: 48px;
} 
.captionImgList li:nth-child(3n) {
  margin-right: 0;
}
.imgBox {
  display: table-cell;
  width: 100%;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  color: #000;
}
.imgBox .index {font-size: 90px; color: rgba(182, 179, 182, 0.6);
	position: absolute;left: 50%; transform: translateX(-50% );  bottom: 15%;}
/* icomoon font 시작 */
i {font-size: 40px; color: #1A2227; position: absolute;left: 50%; transform: translateX(-50% );  top: 15%; }

.icon-html:before {
  content: "\e909";
  color: #e34f26;
}
.icon-css:before {
  content: "\e906";
  color: #1572b6;
}
.icon-js:before {
  content: "\e90a";
  color: #f7df1e;
}
.icon-jq:before {
  content: "\e90b";
  color: #0769ad;
}
.icon-ps:before {
  content: "\e905";
  color: #00c8ff;
}
.icon-ai:before {
  content: "\e904";
  color: #ff7c00;
}
/* icomoon font 끝 */

.imgCaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0);
  padding: 0 10px;
}
.captionTitle {
  color: #A93C32;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8em;
  display: block;
}
.captionAddition {
  color: #ebebeb;
  font-size: 14px;
}
/* caption hover effects 끝 */

/*Web Work*/
#work1 {background: #ededed; 
  position: relative;
}
#work1 h2 {color: #000;}

/* slider 시작 */
.untitled {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  animation: rotateHue infinite 20s linear;
  animation-delay: 0.625s;
}
@keyframes rotateHue {
  0% {
    filter: hue-rotate(0deg);
  }
  20% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  45% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  70% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  95% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.untitled__shutters {
  position: absolute;
  height: 150vmax;
  width: 150vmax;
  left: calc(50% - 75vmax);
  top: calc(50% - 75vmax);
  pointer-events: none;
  z-index: 2;
  animation: rotateFrame 10s linear infinite;
}
@keyframes rotateFrame {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.untitled__shutters:before, .untitled__shutters:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: #b3401a;
  pointer-events: auto;
}
.untitled__shutters:before {
  bottom: 50%;
  animation: openTop 5s infinite;
}
@keyframes openTop {
  0% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
.untitled__shutters:after {
  top: 50%;
  animation: openBottom 5s infinite;
}
@keyframes openBottom {
  0% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
.untitled__slides {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #b3401a;
}
.untitled__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: showHideSlide infinite 20s steps(1);
}
@keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
.untitled__slide:nth-child(1) {
  animation-delay: 0s;
}
.untitled__slide:nth-child(1) .untitled__slideBg {
  background-image: url('../../img/sungshin.png');
}
.untitled__slide:nth-child(2) {
  animation-delay: 5s;
}
.untitled__slide:nth-child(2) .untitled__slideBg {
  background-image: url('../../img/metanet.png');
}
.untitled__slide:nth-child(3) {
  animation-delay: 10s;
}
.untitled__slide:nth-child(3) .untitled__slideBg {
  background-image: url('../../img/bg.jpg');
}
.untitled__slide:nth-child(4) {
  animation-delay: 15s;
}
.untitled__slide:nth-child(4) .untitled__slideBg {
  background-image: url('../../img/logo.png');
}
.untitled__slideBg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-color: #b3401a;
  background-blend-mode: hard-light;
  opacity: 1;
  z-index: -1;
  animation: bgInOut 5s infinite;
}
@keyframes bgInOut {
  0% {
    transform: rotate(-45deg) scale(1.1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  33% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  100% {
    transform: rotate(45deg) scale(0.9);
  }
}
.untitled__slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  font-family: "Abril Fatface", sans-serif;
  line-height: 0.8;
  letter-spacing: -0.025em;
  z-index: 2;
  opacity: 1;
  text-shadow: 0 0 0.5em rgba(179, 64, 26, 0.25);
  mix-blend-mode: lighten;
}
.untitled__slideContent span {
  display: block;
  background: peru;
	padding: 15px 15px;
  font-size:4vmin;
  /* font-size: 5vmin; */
}

.button {
  font-family: "Roboto Mono", sans-serif;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2vmin;
  display: inline-block;
  position: relative;
  border: 3px solid white;
  box-shadow: -0.5vmin 0.5vmin 0 rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-top: 5vmin;
  mix-blend-mode: lighten;
  color: white;
  padding: 2vmin 2vmin 1.8vmin 2vmin;
  letter-spacing: 0.1em;
  text-shadow: none;
  line-height: 1;
  transform: translate3d(0.5vmin, -0.5vmin, 0);
  transition: all 100ms linear;
}
.button:hover {
  transform: translate3d(1vmin, -1vmin, 0);
  box-shadow: -1vmin 1vmin 0 rgba(255, 255, 255, 0.5);
  background: white;
  color: black;
}
.button:active {
  transform: translate3d(0px, 0px, 0);
  box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
}
/* 출처: Spark of inspiration came from this movie trailer:
https://www.youtube.com/watch?v=qSpBnZa3Bek */
/* slider 끝 */

/*Graphic Work*/
#work2 {background: #1A2227}
#work2 h2 {color: #fff;}
#work2 .tabs {text-align: center;margin-bottom: 40px;}
#work2 .tabs li {display: inline-block;margin: 0 20px;color: #fff; cursor: pointer;user-select: none;position: relative;font-weight: 500;}
#work2 .tabs li.on {color: green}
#work2 .tabs li.on:after {content:"";display: block;height: 3px;background: green;position: absolute;left: 0;right: 0;bottom: -7px;}
#work2 .work_thumb {}
#work2 .work_thumb li {width:300px;max-height:400px;float: left;margin: 10px;position: relative;overflow: hidden;}
#work2 .work_thumb img {width: 100%;}
#work2 .work_thumb span {display: none;position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.7);color: #FFF;text-align: center;}
#work2 .work_thumb strong {font-size: 24px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
#work2 .work_thumb i {display: block;margin-top: 15px;}

#study {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e0e0e0;
	line-height: 1.1;
	background: linear-gradient(110deg, #1A2227 50%, #A93C32 50%); 
}
#study h2 {color: #fff;}
 /* Tab 시작 */
 /* .wrapper {
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
} */

/* .tab-wrapper {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 500px;
} */

#study .tabs {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#study .tabs span {color: #CDC7AE; text-align: center;}

.tab-link {
  margin: 0 1%;
  list-style: none;
  padding: 10px 40px;
  color: #aaa;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.5s;
  border-bottom: solid 3px rgba(255, 255, 255, 0);
  letter-spacing: 1px;
}

.tab-link:hover {
  color: #999;
  border-color: #999;
}

.tab-link.active {
  color: #333;
  border-color: #333;
}

.tab-link:nth-of-type(1).active {
  color: #EE6534;
  border-color: #EE6534;
}

.tab-link:nth-of-type(2).active {
  color: #1790D2;
  border-color: #1790D2;
}

.tab-link:nth-of-type(3).active {
  color: #EEC63B;
  border-color: #EEC63B;
}

.tab-link:nth-of-type(4).active {
  color: #9dee3b;
  border-color: #9dee3b;
}

.tab-link:nth-of-type(5).active {
  color: #7d6671;
  border-color: #7d6671;
}

/* .content-wrapper {
  padding: 40px 80px;
} */

.tab-content {
  display: none;
  /* text-align: center;
  color: #888;
  font-weight: 300;
  font-size: 15px; */
  opacity: 0;
  transform: translateY(15px);
  animation: fadeIn 0.5s ease 1 forwards;
}

.tab-content.active {
  display: block;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: none;
  }
}
 /* Tab 끝 */
 
 /* Target elements 시작 */
.targets-wrapper {
  text-align: center;
  padding-top: 50px;
	/* margin: 0 -5px;
	padding: 10px 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; */
}

.target,
.target-click,
.target-notice {
	cursor: default;
	font-size: 14px;
	line-height: 50px;
	height: 52px;
	border-radius: 4px;
	overflow: hidden;
	border: 2px solid #e2e2e2;
	background: #fafafa;
	text-align: center;
	font-weight: 500;
	position: relative;
	text-transform: uppercase;
	width: calc(25% - 10px);
	margin: 5px;
	transition: border-color .2s, background-color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.target:hover,
.target-click:hover,
.target-notice:hover {
	border-color: #bbb;
	background-color: #eee;
}

.target-click,
.target-notice {
	cursor: pointer;
  display: inline-block;
}

.target.active,
.target-click.active,
.target-notice.active {
	color: #49d;
}

@media (max-width: 767px) {

	.target,
	.target-click,
	.target-notice {
			width: calc(50% - 10px);
	}
}
	/* Target elements 끝 */


/*Contact*/
#contact {background: powderblue;
}
#contact .m {padding-bottom: 50px;}
#contact .contact_info {text-align: center; margin-top: 100px;}
#contact .contact_info span {line-height: 1.8em;}

.sns {
  display: flex;
justify-content: center;
}
/* Shine 시작*/
figure {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0 10px;

  overflow: hidden;
}

/* Shine 애니매이션 */
.sns figure {
  position: relative;
}
.sns figure::before {
  position: absolute;
  top: 0;
  left: -25%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.sns figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 120%;
  }
}
@keyframes shine {
  100% {
    left: 120%;
  }
}
/* Shine 끝 */

#contact .quote {font-size: 35px; font-weight: 700; text-align: center;}
/* css text animation 시작 */
#contact .quote {text-transform: uppercase; 
	background-image: linear-gradient( -225deg,#231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 4.5s linear reverse infinite;
}

@keyframes textclip {
to {
		background-position: 200% center;
}
}
/* css text animation 끝*/

#contact .digital_clock {}
#contact .digital_clock span {text-align: center; font-size: 16px; line-height: 2em;}
#contact .digital_clock {height: 100px; text-align: center; color: #f4f4f4; } 
#contact #clock { color: #f4f4f4; font-size: 26px; font-family:'NanumSquare'; font-weight: bold; } 
#contact #clockday { color: #f4f4f4; font-family:'NanumSquare';font-size: 18px;  } 

/*footer*/
footer {background:#1A2227; font-size: 14px; font-weight: 400; color: #999; padding: 50px 0;}
footer p {text-align: center; line-height: 1.3; font-weight: 200;}



/* 타블렛 */
@media screen and (max-width:1023px) {
}

/* 모바일 */
@media screen and (max-width:767px) {
/* common */
	section h2 {margin-bottom: 26px; text-align: center;font-size: 30px;}

	header #gnb {display: none;}
 /* main */
	/*About Me*/

  #about {}
  /* accordion 시작 */
  #about .accordion {display: none;}
  /* accordion 끝 */

/* section about 모바일용 시작 */
  #about .wrapper {
    display: block;
  }
  .wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .accordion-item{
    border-radius: .4rem;
  }

  .accordion-item hr{
    border: 1px solid #000;
  }

  .accordion-link{
    font-size: 1.6rem;
    color: #000;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 1rem 0;
  }

  .accordion-link h3{
    font-weight:600;
    font-size: 20px;
  }

  .accordion-link ul{
    display:flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 10px;
  }

  .accordion-link li{
    font-size: 10px;
    color: #000;
    padding: 0 0 1px 5px;
  }

  .accordion-link div{
    display: flex;
  }

  .answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
  }

  .answer.a1{
    background: url(../../img/about_bg_1.png) right; background-size: cover;
  }
  .answer.a2{
    background: url(../../img/about_bg_2.png) right; background-size: cover;
  }
  .answer.a3{
    background: url(../../img/about_bg_3.png) right; background-size: cover;
  }
  .answer.a4{
    background: url(../../img/about_bg_4.png) right; background-size: cover;
  }
  .answer.a5{
    background: url(../../img/about_bg_5.png) right; background-size: cover;
  }

  .answer p{
    color: #000;
    font-size: 15px;
    line-height: 20px;
    padding: 1rem;
    
  }

  .accordion-item:target .answer{
    max-height: 20rem;
  }
/* section about 모바일용 끝 */

#work1 {}

#study .tabs {flex-direction: column; text-align: center;}
#study .tabs li {display: inline-block;}

/* caption hover effects 시작 */
.captionImgList li {
  width: calc(50% - 5px/2);
  margin-right: 5px;
		margin-bottom: 30px;
}
.captionImgList li:nth-child(2n) {margin-right: 0; }
.captionImgList li {height: 150px; }
.imgBox {height: 150px;}
.imgBox .index {font-size: 45px; }
/* icomoon font 시작 */
i {font-size: 20px; }
}
 