@charset "utf-8";

/*Common*/
body {
  font-family: 'Montserrat', 'NanumSquare', 'Noto Sans KR', '맑은 고딕', 'Apple SD Gothic', 'Dotum', sans-serif;
  font-size: 16px;
}
section {min-height: 100vh;padding-top:100px;}
section h2 {margin-bottom: 26px;text-align: center;font-size: 50px;font-weight: 600; color: #000; }
section h3 {font-size: 24px; font-weight: 600;}
button {cursor: pointer;line-height: 1;background: transparent;border: none;}
.clrfix {content:""; display: block; clear: both;}
.blind {display: block;width: 0;height: 0;overflow: hidden;}
.container {width: 80%;margin: auto;}

/*Header*/
header {padding: 30px 5%;position: fixed;left: 0;right: 0;top: 0;z-index: 9999;transition: all 0.3s}
header h1 {width: 160px;height: 50px;float: left;background: url(../../img/logo_w.png) no-repeat;background-size: contain !important;cursor: pointer;transition: all 0.3s}
header #gnb {float: right;}
header #gnb li {float: left;margin-right: 40px;color: #FFF;font-size: 20px;font-weight: 600;line-height: 30px;cursor: pointer;user-select: none;transition: all 0.3s}
/*홈이 아닌 다른 페이지일 때 헤더의 스타일 변경*/
header.bg_on {background: #FFF;padding: 20px 5%;border-bottom: 1px solid #999;transition: all 0.3s}
header.bg_on h1 {width: 120px;height: 38px;background: url(../../img/logo.png) no-repeat;transition: all 0.3s}
header.bg_on #gnb li {color: #000;font-size: 18px;line-height: 25px;transition: all 0.3s}
main .ch {font-family: 'Noto Sans TC';}


/*Home*/
#home {height: 100vh;padding-top: 0;background: url(../../img/bg.jpg) center;background-size: cover;}
#home .home_bg {height:100%;position: relative;background: rgba(0,0,0,0.5);color: #FFF;text-align: center;}
#home .home_txt {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -80%)}
#home .home_txt h2 {color:#fff; font-size: 50px;font-weight: 600;margin-bottom: 20px;}

/* butterfly 시작 */
#home span.scroll {
	position: absolute;left: 50%;bottom: 100px;transform: translateX(-50%);
	width: 26px;
	height: 26px;
	margin-left: -12px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	-webkit-animation: butterfly 1.5s infinite;
	animation: butterfly 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes butterfly {
	0% {
			-webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
			opacity: 0;
	}
	50% {
			opacity: 1;
	}
	100% {
			-webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
			opacity: 0;
	}
}
@keyframes butterfly {
	0% {
			transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
			opacity: 0;
	}
	50% {
			opacity: 1;
	}
	100% {
			transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
			opacity: 0;
	}
}
/* butterfly 끝 */

/*About Me*/
#about {background: #1A2227; }
#about h2 {color: #fff;}
#about P {line-height: 3em; padding: 10px 0;}
/* introduce slide bar 시작 */
#about .introduce {display: flex; background: #1A2227; margin: 70px auto 70px auto; padding:0; width: 100%;
}
#about .box {height: 70vh; padding:15px; border-right: 1px solid white; -webkit-transition: 0.8s; 
	-o-transition: 0.8s; transition: 0.8s; position: relative; overflow: hidden; list-style: none;
}
#about .detail {width: 85%; height: 100%; position: absolute; right: 0; top:0; color:black; opacity: 0; padding:30px; 
	box-sizing:border-box; -webkit-transition: 0.8s; -o-transition: 0.8s; transition: 0.8s; -webkit-transform: translateY(100%);  
	transform: translateY(100%);}

#about .detail.about_bg_1 {background: url(../../img/about_bg_1.jpg); background-size: contain; }
#about .detail.about_bg_2 {background: url(../../img/about_bg_2.jpg); background-size: contain; }
#about .detail.about_bg_3 {background: url(../../img/about_bg_3.jpg); background-size: contain; }
#about .detail.about_bg_4 {background: url(../../img/about_bg_4.jpg); background-size: contain; }
#about .detail.about_bg_5 {background: url(../../img/about_bg_5.jpg); background-size: contain; }
#about .box.active { width: 60% !important; }
#about .box.active .detail { opacity: 1; -webkit-transition-delay: 0.6s; -moz-transition-delay: 0.6s; 
	-o-transition-delay: 0.6s; transition-delay: 0.6s; transform: none;
}
#about .box span { writing-mode: vertical-rl; font-size: 20px; height: 100%; display: flex; 
	align-items: center; justify-content: center; color: #fff; letter-spacing: 4px;  width: 40px; font-weight: 400; cursor: pointer; 
	position: absolute; left: 0; right: 0; margin: 0 auto; 
}
#about .box.active span { left:25px; right:auto; margin:0; font-weight:600 }
#about p { line-height: 23px; }
/* introduce slide bar 끝 */

#skill {background:#ededed}
#skill h2 {color: #000;}
	/* caption hover effects 시작 */
.captionImgList { 
	width: 100%;
}
.captionImgList li {
  float: left;
  width: calc(33.33333% - 10px);
  margin-right: 15px;
		margin-bottom: 45px;
  overflow: hidden;
		background: rgba(255,255,255,0.9);
}
.captionImgList li:nth-child(3n) {
  margin-right: 0;
}
.captionImgList li {
  display: block;
  position: relative;
  height: 250px;
}
/* .captionImgList li a {
  display: block;
  position: relative;
  height: 250px;
} */
.imgBox {
  display: table-cell;
  width: 100%;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  color: #000;
}
.imgBox .index {font-size: 90px; color: rgba(182, 179, 182, 0.6);
	position: absolute;left: 50%; transform: translateX(-50% );  bottom: 15%;}
/* icomoon font 시작 */
i {font-size: 50px; position: absolute;left: 50%; transform: translateX(-50% );  top: 10%; }

.icon-html:before {
  content: "\e909";
  color: #e34f26;
}
.icon-css:before {
  content: "\e906";
  color: #1572b6;
}
.icon-js:before {
  content: "\e90a";
  color: #f7df1e;
}
.icon-jq:before {
  content: "\e90b";
  color: #0769ad;
}
.icon-ps:before {
  content: "\e905";
  color: #00c8ff;
}
.icon-ai:before {
  content: "\e904";
  color: #ff7c00;
}
/* icomoon font 끝 */

.imgCaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0);
  padding: 0 10px;
}
.captionTitle {
  color: #A93C32;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8em;
  display: block;
}
.captionAddition {
  color: #ebebeb;
  font-size: 14px;
}

/* caption hover effects 끝 */

/*Web Work*/
#work1 {background: #1A2227;position: relative;}
#work1 h2 {color: #fff;}
#work1 .web_swiper {width: 1200px;height: 500px;margin: auto;position: relative;}
#work1 .web_slide {width: 1200px;float: left;height: 500px;background: #fff;}
#work1 .web_slide:after {content:""; display: block;clear: both;}
#work1 .web_slide img {float: right;width: 60%;height: 100%;background-size: cover !important;}
#work1 .web_slide img.web1 {background: url(../../img/web_1.png) center;}
#work1 .web_slide img.web2 {background: url(../../img/web_2.png) center;}
#work1 .web_slide .web_txt {float: left;width: 35%;padding: 30px;}
#work1 .web_slide .web_txt .work_title {font-size: 26px;margin-bottom: 20px;}
#work1 .web_slide .web_txt .work_summary {height: 300px;}
#work1 .web_slide .web_txt .link a {display: inline-block;padding: 15px 20px;border: 1px solid #999;border-radius: 5px;color: #999;margin-right: 10px;}
#work1 .web_prev {position: absolute;left: calc(50% - 670px);top: 40%;}
#work1 .web_next {position: absolute;right: calc(50% - 690px);top: 40%;}
#work1 .web_scrollbar {width: 1200px;height: 3px;margin: auto;background: #ededed;}
#work1 .web_pagination {width: auto;position: absolute;left: auto;right: 20px;top: 20px;bottom: auto;z-index: 10;font-size: 14px;font-weight: 600;}
#work1 .web_pagination span {display: inline-block;margin: 0 3px;vertical-align: middle;font-size: 24px;}

/*Graphic Work*/
#work2 {background: #ededed}
#work2 .tabs {text-align: center;margin-bottom: 40px;}
#work2 .tabs li {display: inline-block;margin: 0 20px;cursor: pointer;user-select: none;position: relative;font-weight: 500;}
#work2 .tabs li.on {color: green}
#work2 .tabs li.on:after {content:"";display: block;height: 3px;background: green;position: absolute;left: 0;right: 0;bottom: -7px;}
#work2 .work_thumb {}
#work2 .work_thumb li {width:300px;max-height:400px;float: left;margin: 10px;position: relative;overflow: hidden;}
#work2 .work_thumb img {width: 100%;}
#work2 .work_thumb span {display: none;position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.7);color: #FFF;text-align: center;}
#work2 .work_thumb strong {font-size: 24px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
#work2 .work_thumb i {display: block;margin-top: 15px;}

#study {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e0e0e0;
	line-height: 1.1;
	background: linear-gradient(110deg, #1A2227 50%, #A93C32 50%); 
}
#study h2 {color: #fff;}
#study h3 {color: #CDC7AE; text-align: center;}
#study .targets-wrapper {margin-bottom: 40px;}

	/* Target elements 시작 */

.targets-wrapper {
	margin: 0 -5px;
	padding: 10px 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.target,
.target-click,
.target-notice {
	cursor: default;
	font-size: 14px;
	line-height: 50px;
	height: 52px;
	border-radius: 4px;
	overflow: hidden;
	border: 2px solid #e2e2e2;
	background: #fafafa;
	text-align: center;
	font-weight: 500;
	position: relative;
	text-transform: uppercase;
	width: calc(25% - 10px);
	margin: 5px;
	transition: border-color .2s, background-color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.target:hover,
.target-click:hover,
.target-notice:hover {
	border-color: #bbb;
	background-color: #eee;
}

.target-click,
.target-notice {
	cursor: pointer;
}

.target.active,
.target-click.active,
.target-notice.active {
	color: #49d;
}

@media (max-width: 768px) {

	.target,
	.target-click,
	.target-notice {
			width: calc(50% - 10px);
	}
}
	/* Target elements 끝 */


/*Contact*/
#contact {background: powderblue;}
#contact .m {margin-bottom: 50px;}
#contact .contact_info {text-align: center; margin-top: 200px;}
#contact .contact_info span {line-height: 1.5em;}

/* Shine 시작*/
.sns {position: absolute;left: 50%;transform: translateX(-50%);}
.sns div {
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  margin-left:25px;
  padding: 0;
}

figure {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

/* Shine 애니매이션 */
.sns figure {
  position: relative;
}
.sns figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.sns figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* Shine 끝 */

#contact .quote {font-size: 35px; font-weight: 700; text-align: center; padding-top: 80px;}
/* css text animation 시작 */
#contact .quote {text-transform: uppercase; 
	background-image: linear-gradient( -225deg,#231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 4.5s linear reverse infinite;
}

@keyframes textclip {
to {
		background-position: 200% center;
}
}
/* css text animation 끝*/

#contact .digital_clock {}
#contact .digital_clock span {text-align: center; font-size: 16px; line-height: 2em;}
#contact .digital_clock {height: 100px; text-align: center; color: #f4f4f4; } 
#contact #clock { color: #f4f4f4; font-size: 26px; font-family:'NanumSquare'; font-weight: bold; } 
#contact #clockday { color: #f4f4f4; font-family:'NanumSquare';font-size: 18px;  } 

/*footer*/
footer {background:#1A2227; font-size: 14px; font-weight: 400; color: #999; padding: 50px 0;}
footer p {text-align: center; line-height: 1.3; font-weight: 200;}



/* 타블렛 */
@media screen and (max-width:1023px) {
}

/* 모바일 */
@media screen and (max-width:767px) {
	/*About Me*/
/* introduce slide bar 시작 */
#about .introduce {display: block;width: 100%;}
#about .box {height: 300px; }
#about .detail {width: 86%; }
#about .box.active { width: 100% !important;}
/* introduce slide bar 끝 */

}
 